@{
    ViewBag.Title = "Images";


    string ShareLink = "";
    string CommpressedLink = "";
    string Name = "";

    if (!ViewBag.IsEmpty)
    {
        ShareLink = ViewBag.BASE_URL + "Home/SharedImage?i=" + ViewBag.Images[0].SharedCode;
        CommpressedLink = ViewBag.BASE_URL + "img/" + ViewBag.Images[0].SharedCode + "_compressed.png";
        Name = ViewBag.Images[0].Name + ".png";
    }

}
@section Scripts
{
    <script>
        $('#toggle_event_editing button').click(function () {
            if ($(this).hasClass('locked_active') || $(this).hasClass('unlocked_inactive')) {
                /* code to do when unlocking */
                $('#switch_status').html('Switched on.');
            } else {
                /* code to do when locking */
                $('#switch_status').html('Switched off.');
            }

            /* reverse locking status */
            $('#toggle_event_editing button').eq(0).toggleClass('locked_inactive locked_active btn-default btn-info');
            $('#toggle_event_editing button').eq(1).toggleClass('unlocked_inactive unlocked_active btn-info btn-default');
        });

        function openImage(path) {
            location.href = "/Home/SingleImage?image=" + path;
            return false;
        }

        function selectText() {
            document.getElementById('sharedLink').select();
        }

        function selectImage(original, sharedLink, compressed, name) {
            document.getElementById("original").value = original;
            document.getElementById("sharedLink").value = sharedLink;
            document.getElementById("compressedLink").src = compressed;
            document.getElementById("compressedName").innerText = name;
            return false;
        }
    </script>

}

<div class="modal fade" id="RenameImage" tabindex="-1" role="dialog" style="top:200px" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn-not-rounded" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Rename</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="new-title" class="control-label">Enter new title for image</label>
                        <input type="text" class="form-control" id="new-title">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-not-rounded" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-not-rounded" onclick=
                        "location.href='@Url.Action("RenameImageOutside", "Home")?path='+document.getElementById('original').value+'&newName='+document.getElementById('new-title').value" >Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DeleteImage" tabindex="-1" role="dialog" style="top:200px">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn-not-rounded" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">Delete image</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="new-title" class="control-label text-center">Save changes?</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-not-rounded"  onclick=
                        "location.href='@Url.Action("DeleteImage", "Home")?path='+document.getElementById('original').value+'.png'">Yes</button>
                <button type="button" class="btn btn-primary btn-not-rounded" data-dismiss="modal" >No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="ImageManageAccess" style="top:100px">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn-not-rounded" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="gridSystemModalLabel">Manage access</h4>
            </div>
            <div class="modal-body">
                <div class="row"  style="margin-bottom:5px;">
                    <div class="col-sm-9">
                        <h5 style="vertical-align:middle;margin:0;margin-top:5px;">Access by link</h5>
                    </div>
                    <div class="col-sm-3">
                        <div class="btn-group pull-right" id="toggle_event_editing" >
                            <button type="button" class="btn btn-default unlocked_inactive btn-not-rounded" style="height:30px;width:60px;font-size:12px;">On</button>
                            <button type="button" class="btn btn-info locked_active btn-not-rounded" style="height:30px;width:60px;font-size:12px;">Off</button>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input type="text"  style="height:30px;" class="form-control" placeholder="http://localhost:56267/img/EvrC9Anhyo.png">
                            <span class="input-group-btn"  style="height:30px;">
                                <button class="btn btn-default btn-not-rounded"  style="height:30px;" type="button">Copy</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-sm-12">
                                <h5 style="vertical-align:middle;margin:0;margin-top:5px;">People</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="list-group" style="height:auto;height:150px;overflow:auto;border:solid #E0E0E0 1px;">
                                    <div class="list-group-item">
                                        <div class="media-body" style="vertical-align:middle">
                                            <h5 class="media-heading">vovadudas@gmail.com</h5>
                                        </div>
                                        <div class="media-right" style="vertical-align:middle;">
                                            <button type="button" class="btn badge right btn-not-rounded" aria-label="Left Align">
                                                <span class="glyphicon glyphicon-remove glyphicon-th-large" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="list-group-item ">
                                        <div class="media-body" style="vertical-align:middle">
                                            <h5 class="media-heading">vovadudas@gmail.com</h5>
                                        </div>
                                        <div class="media-right" style="vertical-align:middle;">
                                            <button type="button" class="btn badge right btn-not-rounded" aria-label="Left Align">
                                                <span class="glyphicon glyphicon-remove glyphicon-th-large" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="list-group-item ">
                                        <div class="media-body" style="vertical-align:middle">
                                            <h5 class="media-heading">vovadudas@gmail.com</h5>
                                        </div>
                                        <div class="media-right" style="vertical-align:middle;">
                                            <button type="button" class="btn badge right btn-not-rounded" aria-label="Left Align">
                                                <span class="glyphicon glyphicon-remove glyphicon-th-large" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="list-group-item ">
                                        <div class="media-body" style="vertical-align:middle">
                                            <h5 class="media-heading">vovadudas@gmail.com</h5>
                                        </div>
                                        <div class="media-right" style="vertical-align:middle;">
                                            <button type="button" class="btn badge right btn-not-rounded" aria-label="Left Align">
                                                <span class="glyphicon glyphicon-remove glyphicon-th-large" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="list-group-item ">
                                        <div class="media-body" style="vertical-align:middle">
                                            <h5 class="media-heading">vovadudas@gmail.com</h5>
                                        </div>
                                        <div class="media-right" style="vertical-align:middle;">
                                            <button type="button" class="btn badge right btn-not-rounded" aria-label="Left Align">
                                                <span class="glyphicon glyphicon-remove glyphicon-th-large" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Email" aria-describedby="sizing-addon2">
                                    <span class="input-group-addon btn btn-default" aria-label="Left Align" id="sizing-addon2">+</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-sm-12">
                                <h5 style="vertical-align:middle;margin:0;margin-top:5px;">Groups</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="list-group" style="height:auto;height:205px;overflow:auto;border:solid #E0E0E0 1px;">
                                    <div class="list-group-item ">
                                        <div class="media-body" style="vertical-align:middle">
                                            <h5 class="media-heading">Friends</h5>
                                        </div>
                                        <div class="material-switch media-right" style="vertical-align:middle">
                                            <input id="someSwitchOptionInfo" name="someSwitchOption001" type="checkbox" />
                                            <label for="someSwitchOptionInfo" class="label-info"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left btn-not-rounded" style="width:100px;" data-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-bottom: -20px; overflow: hidden; position: relative; min-height: 800px">
    <div class="col-md-10">
        <div class="col-sm-12" style="padding-left:25px;padding-right:25px;">
            <div class="row">
                <div class="col-sm-10">
                    <h2>Images</h2>
                </div>
                
                <div class="col-sm-2">
                    @using (Html.BeginForm("Images", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input id="fileInput" style="visibility:collapse" type="file" name="file" onchange="document.getElementById('fileSubmit').click();" />
                        <input id="fileSubmit" style="visibility: collapse" type="submit" value="bla"/>
                        <input id="fake" style="visibility: collapse" type="text" name="folderId" value="@ViewBag.FolderId" />

                        <input type="button" class="btn btn-primary btn-lg pull-right success btn-not-rounded" style="width:150px; height:30px;vertical-align:middle;background-color:cornflowerblue;margin-top:-50px;margin-bottom:10px;font-size:13px;"  value="Upload image" onclick="document.getElementById('fileInput').click();"/>
                    }
                </div>
            </div>
            
            <ol class="breadcrumb" >
                <li><a href="/Home/Library">Folders</a></li>
                <li class="active">Shared folder</li>
            </ol>
        </div>
        <div class="row">
            <div class="col-sm-12" style="padding-left:40px;padding-right:40px;">
            @foreach (var i in ViewBag.Images)
            {
                string original = i.SharedCode;
                string sharedLink1 = ViewBag.BASE_URL + "Home/SharedImage?i=" + original;
                string compressed = ViewBag.BASE_URL+"img/" + i.SharedCode + "_compressed.png";
                string name = i.Name + ".png";
                    <a href="#" onclick="selectImage('@original', '@sharedLink1', '@compressed', '@name')" ondblclick="openImage('@original')">
                        <div class="col-md-2 text-center task active images" style="margin-bottom: 60px; padding-top: 10px; " >
                            <div style="width: 128px; height: 128px;background:url(@compressed) no-repeat center center;" class="center-block">
                            </div>
                            <label class="text-center">@name</label>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="col-md-2" style="background-color: #686868; right: 10px; height: 100%; position: absolute">
        <div style="margin-left: 10px">
            <input type="text" class="hidden" id="original"/>
            <img src="@CommpressedLink" id="compressedLink" style="margin: 5px;margin-left:0px;max-width:195px;max-height:128px;"/>
            <p id="compressedName" style="color: #E0E0E0">@Name</p>
            <hr/>
            <div>
                <button type="button" class="btn btn-default btn-not-rounded" style="width: 100%" onclick="openImage(document.getElementById('original').value)">Open</button>
            </div>
            <br/>
            <div>
                <button type="button" class="btn btn-default btn-not-rounded" data-toggle="modal" data-target="#RenameImage" style="width: 100%">Rename</button>
            </div>
            <br/>
            <div>
                <button type="button" class="btn btn-danger btn-not-rounded" data-toggle="modal" data-target="#DeleteImage" style="width: 100%">Delete</button>
            </div>
            <br/>
            <div>
                <button class="btn btn-warning btn-not-rounded" style="width: 100%">Make public</button>
            </div>
            <hr/>
            <p style="color: #E0E0E0">Share image</p>
            <input class="form-control btn-not-rounded" id="sharedLink" style="width: 100%" type="text" placeholder="Sharing link" onclick="selectText()" value="@ShareLink"/>
            <br/>
            <div>
                <button type="button" class="btn btn-success btn-not-rounded" data-toggle="modal" data-target="#ImageManageAccess" style="width: 100%">Manage access</button>
            </div>
            <hr/>
        </div>
    </div>
</div>

<nav id="context-menu" class="context-menu">
    <ul class="context-menu__items">
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="View" data-target="#DeleteImage" data-toggle="modal"> Delete</a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="Edit" data-target="#RenameImage" data-toggle="modal"> Rename</a>
        </li>
        <li class="context-menu__item">
            <div class="row" style="padding: 4px 12px;">
                <div class="col-md-3">
                    <h5 style="padding-top: 7px; margin:0;">Private</h5>
                </div>
                <div class="col-md-9">
                    <div class="btn-group pull-right" id="toggle_event_editing">
                        <button type="button" class="btn btn-default unlocked_inactive btn-not-rounded" style="height:30px;width:60px;font-size:12px;">On</button>
                        <button type="button" class="btn btn-info locked_active btn-not-rounded" style="height:30px;width:60px;font-size:12px;">Off</button>
                    </div>
                </div>
            </div>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="Delete"> Manage access</a>
        </li>
    </ul>
</nav>

<script src="~/Scripts/context-menu.js"></script>
