@{
    ViewBag.Title = "Images";
    string ShareLink = ViewBag.Images.Count>0 ? (ViewBag.BASE_URL + @ViewBag.Images[0].sharedCode + ".png"):"";
    string CommpressedLink = ViewBag.Images.Count > 0 ? (ViewBag.BASE_URL + @ViewBag.Images[0].sharedCode + "_compressed.png"):"";
    string Name = ViewBag.Images.Count > 0 ? (@ViewBag.Images[0].name + ".png"):"";
}

<div class="modal fade" id="RenameImage" tabindex="-1" role="dialog" style="top:200px" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Rename</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="new-title" class="control-label">Enter new title for image</label>
                        <input type="text" class="form-control" id="new-title">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DeleteImage" tabindex="-1" role="dialog" style="top:200px">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">Delete image</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="new-title" class="control-label text-center">Save changes?</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-primary">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="ImageManageAccess">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="gridSystemModalLabel">Manage access</h4>
            </div>
            <div class="modal-body">
                <div class="list-group-item active">
                    <div class="media-body" style="vertical-align:middle">
                        <h5 class="media-heading">Access by link</h5>
                    </div>
                    <div class="media-right" style="vertical-align:middle;">
                    </div>
                </div>
                @*<div class="row-fluid">
                    <div class="col-sm-4" style="padding:5px;">
                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Group name" aria-describedby="sizing-addon2">
                                    <span class="input-group-addon btn btn-default" aria-label="Left Align" id="sizing-addon2">+</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="list-group" style="height:auto;max-height:450px;overflow:auto;">
                                    <div class="list-group-item active">
                                        <div class="media-body" style="vertical-align:middle">
                                            <h5 class="media-heading">Friends</h5>
                                        </div>
                                        <div class="media-right" style="vertical-align:middle;">
                                            <button type="button" class="btn badge right" aria-label="Left Align">
                                                <span aria-hidden="true">14</span>
                                            </button>
                                        </div>
                                        <div class="media-right" style="vertical-align:middle;">
                                            <button type="button" class="btn badge right" aria-label="Left Align">
                                                <span class="glyphicon glyphicon-remove glyphicon-th-large" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8" style="padding:5px;">
                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Email" aria-describedby="sizing-addon2">
                                    <span class="input-group-addon btn btn-default" aria-label="Left Align" id="sizing-addon2">+</span>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="list-group respo" style="height:auto;max-height:450px;overflow:auto;">
                                    <div class="list-group-item active">
                                        <div class="media-left">
                                            <img class="media-object" style="width:50px;height:50px;" src="~/Resources/images/public.png" alt="Image not found">
                                        </div>
                                        <div class="media-body" style="vertical-align:middle">
                                            <h4 class="media-heading">vovadudas@gmail.com</h4>
                                        </div>
                                        <div class="media-right" style="vertical-align:middle">
                                            <button type="button" class="btn badge right" aria-label="Left Align">
                                                <span class="glyphicon glyphicon-remove glyphicon-th-large" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="row" style="margin-bottom: -20px; overflow: hidden; position: relative; min-height: 600px">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2>Images</h2>
        <div class="col-md-12 text-left">
            <div class="row">
                <ul class="vert_menu">
                    <li><a href="/Home/Library" class="current">User</a></li>
                    <li><a href="/Home/Images" class="current">Shared folder</a></li>
                </ul>
            </div>
        </div>
        <div class="row">ss
            @foreach (var i in ViewBag.Images)
            {
                string original = @i.sharedCode;
                string commpressed = ViewBag.BASE_URL + @i.sharedCode + "_compressed.png";
                string name = @i.name + ".png";
                <a href="/Home/SingleImage?image=@original">
                    <div class="col-md-2 text-center" style="margin-bottom: 60px">
                        <img src="@commpressed" alt="@commpressed" style="width: 128px; height: 128px"/>
                        <label class="text-center">@name</label>
                    </div>
                </a>
            }
        </div>
    </div>
    <div class="col-md-2" style="background-color: #686868; right: 10px; height: 100%; position: absolute">
        <div style="margin-left: 10px">
            <img src="@CommpressedLink" style="margin: 5px;"/>
            <p style="color: #E0E0E0">@Name</p>
            <hr/>
            <div>
                <button type="button" class="btn btn-default" style="width: 100%">Open</button>
            </div>
            <br/>
            <div>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#RenameImage" style="width: 100%">Rename</button>
            </div>
            <br/>
            <div>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#DeleteImage" style="width: 100%">Delete</button>
            </div>
            <br/>
            <div>
                <button class="btn btn-warning" style="width: 100%">Make public</button>
            </div>
            <hr/>
            <p style="color: #E0E0E0">Share image</p>
            <input class="form-control" style="width: 100%" type="text" placeholder="Sharing link" value="@ShareLink"/>
            <br />
            <div>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#ImageManageAccess" style="width: 100%">Manage access</button>
            </div>
            <hr/>
        </div>
    </div>
</div>