@using ScreenTaker.Models;
@{
    ViewBag.Title = "Library";
    ViewBag.CurrentFolderShCode = "-1";
    ViewBag.CurrentFolderId = "-1";
    if (!Request.QueryString["lang"].IsEmpty())
    {
        Culture = UICulture = Request.QueryString["lang"];
    }
    else
    {
        Culture = UICulture = ViewBag.Localize ?? "en";
    }
}
@section Scripts {
    <script>
    var a = $('#loadingAnimation');
    a.css('visibility', 'hidden');
    $(document).ajaxStart(function () {
        $('#loadingAnimation').css('visibility', 'visible');
    });
    $(document).ajaxStop(function () {
        a.css('visibility', 'hidden');
    });

    function ShowProgress() {
        setTimeout(function () {
            var a = $('#loadingAnimation');
            a.css('visibility', 'visible');
        }, 200);
    }
    $('form').live("submit", function () {
        ShowProgress();
    });
    </script>
}


<div class="modal fade" id="AddFolder" tabindex="-1" role="dialog" style="top:200px">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn-not-rounded" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">@Resources.Resource.NEW_FOLDER</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="new-title" class="control-label">@Resources.Resource.NEW_FOLDER_TITLE</label>
                        <input type="text" class="form-control" id="new-title1" value="New folder">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-not-rounded" data-dismiss="modal">@Resources.Resource.CLOSE</button>
                <button type="button" class="btn btn-primary btn-not-rounded" onclick="$('#AddFolder').modal('hide');$('#loadingAnimation').css('visibility', 'visible');location.href='@Url.Action("AddFolder", "Home", new {path="test"})&title='+document.getElementById('new-title1').value">@Resources.Resource.ADD</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="RenameFolder" tabindex="-1" role="dialog" style="top:200px">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn-not-rounded" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">@Resources.Resource.RENAME</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="new-title" class="control-label">@Resources.Resource.RENAME_TITLE</label>
                        <input type="text" class="form-control" id="new-title">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-not-rounded" data-dismiss="modal">@Resources.Resource.CLOSE</button>
                <button type="button" class="btn btn-primary btn-not-rounded" onclick="$('#RenameFolder').modal('hide');$('#loadingAnimation').css('visibility', 'visible');location.href='@Url.Action("RenameFolder", "Home")?path='+document.getElementById('sharedLinkhidden').value+'&newName='+document.getElementById('new-title').value">
                    @Resources.Resource.SUBMIT
            </button>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="DeleteFolder" tabindex="-1" role="dialog" style="top:200px">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn-not-rounded" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">@Resources.Resource.DELETE_FOLDER</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="new-title" class="control-label text-center">@Resources.Resource.SAVE_CHANGES</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-not-rounded" data-dismiss="modal">@Resources.Resource.NO</button>
                <button type="button" class="btn btn-primary btn-not-rounded" onclick="$('#DeleteFolder').modal('hide');$('#loadingAnimation').css('visibility', 'visible');location.href='@Url.Action("DeleteFolder", "Home")?path='+document.getElementById('sharedLinkhidden').value+'&newName='+document.getElementById('new-title').value">
                    @Resources.Resource.YES
            </button>
        </div>
    </div>
</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="FolderManageAccess" style="top:100px">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn-not-rounded" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="gridSystemModalLabel">@Resources.Resource.MANAGE_ACCESS</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom:5px;">
                    <div class="col-sm-9">
                        <h5 style="vertical-align:middle;margin:0;margin-top:5px;">@Resources.Resource.ACCESS_BY_LINK</h5>
                    </div>
                    <div class="col-sm-3">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default unlocked_inactive btn-not-rounded" style="height: 30px; width: 60px; font-size: 13px; padding: 6px;"
                                    onclick="location.href='@Url.Action("MakeFolderPublicOrPrivate", "Home" )?folderId='+document.getElementById('Idhidden').value;">
                                Turn Off
                            </button>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group">
                           
                            <input type="text" id="sharedLink" style="height: 30px;" class="form-control" value="@ViewBag.FolderLink">
                            <span class="input-group-btn" style="height: 30px;">
                                <button class="btn btn-default btn-not-rounded" style="height: 30px;" type="button">@Resources.Resource.COPY</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-sm-12">
                                <h5 style="vertical-align:middle;margin:0;margin-top:5px;">@Resources.Resource.PEOPLE</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="list-group" style="height:auto;height:150px;overflow:auto;border:solid #E0E0E0 1px;">
                                    <div class="list-group-item">
                                        <div class="media-body" style="vertical-align:middle">
                                            <h5 class="media-heading">vovadudas@gmail.com</h5>
                                        </div>
                                        <div class="media-right" style="vertical-align:middle;">
                                            <button type="button" class="btn badge right btn-not-rounded" aria-label="Left Align">
                                                <span class="glyphicon glyphicon-remove glyphicon-th-large" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="list-group-item ">
                                        <div class="media-body" style="vertical-align:middle">
                                            <h5 class="media-heading">vovadudas@gmail.com</h5>
                                        </div>
                                        <div class="media-right" style="vertical-align:middle;">
                                            <button type="button" class="btn badge right btn-not-rounded" aria-label="Left Align">
                                                <span class="glyphicon glyphicon-remove glyphicon-th-large" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="list-group-item ">
                                        <div class="media-body" style="vertical-align:middle">
                                            <h5 class="media-heading">vovadudas@gmail.com</h5>
                                        </div>
                                        <div class="media-right" style="vertical-align:middle;">
                                            <button type="button" class="btn badge right btn-not-rounded" aria-label="Left Align">
                                                <span class="glyphicon glyphicon-remove glyphicon-th-large" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="list-group-item ">
                                        <div class="media-body" style="vertical-align:middle">
                                            <h5 class="media-heading">vovadudas@gmail.com</h5>
                                        </div>
                                        <div class="media-right" style="vertical-align:middle;">
                                            <button type="button" class="btn badge right btn-not-rounded" aria-label="Left Align">
                                                <span class="glyphicon glyphicon-remove glyphicon-th-large" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="list-group-item ">
                                        <div class="media-body" style="vertical-align:middle">
                                            <h5 class="media-heading">vovadudas@gmail.com</h5>
                                        </div>
                                        <div class="media-right" style="vertical-align:middle;">
                                            <button type="button" class="btn badge right btn-not-rounded" aria-label="Left Align">
                                                <span class="glyphicon glyphicon-remove glyphicon-th-large" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <input type="text" id="userMail" class="form-control" placeholder="@Resources.Resource.EMAIL" aria-describedby="sizing-addon2">
                                    <span class="input-group-addon btn btn-default" aria-label="Left Align" id="sizing-addon2" onclick="location.href='@Url.Action("FoldersAddMail", "Home")?userMail='+document.getElementById('userMail').value+'&folderId='+document.getElementById('Idhidden').value">+</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-sm-12">
                                <h5 style="vertical-align:middle;margin:0;margin-top:5px;">@Resources.Resource.GROUPS</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="list-group" style="height:auto;height:205px;overflow:auto;border:solid #E0E0E0 1px;">
                                    @if (ViewBag.Groups != null)
                                    {
                                        for (int i = 0; i < ViewBag.Groups.Count; i++)
                                        {
                                            <div class="list-group-item ">
                                                <div class="media-body" style="vertical-align: middle">
                                                    <h5 class="media-heading">@ViewBag.Groups[i] @ViewBag.GroupsIDs[i]</h5>
                                                </div>
                                                <div class="material-switch media-right" style="vertical-align: middle">
                                                    <button type="button" class="btn btn-info locked_active btn-not-rounded text-center" style="height: 30px; width: 60px; font-size: 13px; padding: 6px;"
                                                            onclick="location.href = '@Url.Action("FolderSwitchAccessONOrOff", "Home", new {groupId = ViewBag.GroupsIDs[i]})&folderId='+document.getElementById('Idhidden').value">
                                                        @*@ViewBag.Flags[i]*@ Allowed
                                                    </button>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left btn-not-rounded" style="width:100px;" data-dismiss="modal">@Resources.Resource.SUBMIT</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="main" style="margin-bottom: -20px; overflow: hidden; position: relative;  min-height: 675px">
    <div class="col-md-12">
        <div class="col-sm-10" style="padding-left:25px;padding-right:25px;">
            <h2>@Resources.Resource.FOLDERS</h2>
        </div>
        <div class="preloader" id="loadingAnimation">
            <div class="sk-cube-grid preloader-center center-block">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
            </div>
        </div>
        <div class="col-sm-2">

            <button id="openSideMenu" type="button" class="btn btn-default pull-right btn-not-rounded" aria-label="Left Align" style="margin-top:20px;" onclick="openNav()">
                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
            </button>
            <button id="AddFolderButton" data-placement="bottom" title="@Resources.Resource.ADD_NEW_FOLDER" type="button" class="btn-primary btn btn-default pull-right success btn-not-rounded" data-toggle="modal" data-target="#AddFolder" aria-label="Left Align" style="margin-top:20px;margin-right:-40px;background-color:cornflowerblue">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
        </div>
        <div class="row">
            <div class="col-sm-12" style="padding-left:40px;padding-right:40px;">
                @{
                    int count = ViewBag.Folders.Count;

                    for (int i = 0; i < ViewBag.Folders.Count; i++)
                    {
                        string classes = "floating-box text-center task active images folder";
                        if (i == 0)
                        {
                            classes += " active-image";
                        }
                        string folder_id = "FID" + i;
                        string link = ViewBag.BaseURL + ViewBag.Folders[i].SharedCode;
                        string sharedCode = ViewBag.Folders[i].SharedCode;
                        string imageLink = ViewBag.BaseURL + "Resources/" + (ViewBag.Folders[i].IsPublic ? "public.png" : "private.png");
                        <a href="#" onclick="selectFolder('@ViewBag.Folders[i].Id','@folder_id','@count','@ViewBag.Folders[i].Name','@link','@sharedCode','@imageLink')"
                           ondblclick="openFolder('@ViewBag.Folders[i].Id')">
                            <figure class="@classes" id="@folder_id">
                                <img src="~/Resources/public.png" />
                                <figcaption class="text-center">@ViewBag.Folders[i].Name</figcaption>
                            </figure>
                        </a>
                    }
                }
            </div>
        </div>
    </div>
    <div class="sidenav" id="mySidenav">
        <div style="margin-left: 10px; margin-right: 10px; height: 100%;">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="font-size:40px;">×</a>
            <img id="folderImage" src="/Resources/public.png" width="128" height="128" />
            <p id="folderTitle" style="color: #E0E0E0">@ViewBag.Folders[0].Name</p>
            <hr />
            <div>
                <button type="button" class="btn btn-default btn-not-rounded" style="width: 100%" onclick="openFolder('@ViewBag.CurrentFolderId')">@Resources.Resource.OPEN</button>
            </div>
            <br />
            <div>
                <button type="button" class="btn btn-default btn-not-rounded" data-toggle="modal" data-target="#RenameFolder" style="width: 100%">@Resources.Resource.RENAME</button>
            </div>
            <br />
            <div>
                <button type="button" class="btn btn-danger btn-not-rounded" data-toggle="modal" data-target="#DeleteFolder" style="width: 100%">@Resources.Resource.DELETE</button>
            </div>
            <br />
            <div>
                <button class="btn btn-warning btn-not-rounded" style="width: 100%" onclick="location.href='@Url.Action("MakeFolderPublicOrPrivate", "Home" )?folderId='+document.getElementById('Idhidden').value;">@ViewBag.ButtonPrivateORPublicMain</button>
            </div>
            <hr />
            <p style="color: #E0E0E0">@Resources.Resource.SHARE_FOLDER</p>
            <input id="sharedLink" class="form-control btn-not-rounded" style="width: 100%" type="text" placeholder="Sharing link" onclick="selectText()" value="@ViewBag.FolderLink" />
            <br />
            <div>
                <button type="button" class="btn btn-success btn-not-rounded" data-toggle="modal" data-target="#FolderManageAccess" style="width: 100%">@Resources.Resource.MANAGE_ACCESS</button>
            </div>
            <hr />
            <input id="sharedLinkhidden" class="form-control" style="margin-top:-50px;width: 100%;visibility:collapse" type="text" />
            <input id="Idhidden" class="form-control" style="margin-top:-50px;width: 100%;visibility:collapse" type="text" />
        </div>
    </div>
</div>
<br />
<nav id="context-menu" class="context-menu">
    <ul class="context-menu__items">
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-target="#DeleteFolder" data-toggle="modal"> @Resources.Resource.DELETE</a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-target="#RenameFolder" data-toggle="modal"> @Resources.Resource.RENAME</a>
        </li>
        <li class="context-menu__item">
            <div class="row" style="padding: 4px 12px;">
                <div class="col-md-3">
                    <h5 style="padding-top: 7px; margin:0;">@Resources.Resource.PRIVATE</h5>
                </div>
                <div class="col-md-9">
                    <div class="btn-group pull-right" id="toggle_event_editing">
                        <button type="button" class="btn btn-default unlocked_inactive btn-not-rounded" style="height:30px;width:60px;font-size:12px;">@Resources.Resource.ON</button>
                        <button type="button" class="btn btn-info locked_active btn-not-rounded" style="height:30px;width:60px;font-size:12px;">@Resources.Resource.OFF</button>
                    </div>
                </div>
            </div>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-toggle="modal" data-target="#FolderManageAccess"> @Resources.Resource.MANAGE_ACCESS</a>
        </li>
    </ul>
</nav>

<script src="~/Scripts/context-menu.js"></script>
<script src="~/Scripts/Site.js"></script>