@using ScreenTaker.Models;
@{
    ViewBag.Title = "Library";
    ViewBag.CurrentFolderShCode = "-1";
    ViewBag.CurrentFolderId = "-1";
    if (!Request.QueryString["lang"].IsEmpty())
    {
        Culture = UICulture = Request.QueryString["lang"];
    }
    else
    {
        Culture = UICulture = ViewBag.Localize ?? "en";
    }
}
@section Scripts {
    <script>
        document.getElementById("FID0").className += " active-image";
        var numb = document.getElementById('FID_field').innerText;
        if(numb=="")numb="0";
        var image_id = 'FIM'+numb;
        document.getElementById("RenameButton").disabled = true;
        document.getElementById("DeleteButton").disabled = true;
        document.getElementById("ContextRenameButton").disabled = true;
        document.getElementById("ContextDeleteButton").disabled = true;
        document.getElementById("ContextDeleteButton").className= "context-menu__link disabled-button";
        document.getElementById("ContextRenameButton").className= "context-menu__link disabled-button";
        document.getElementById("OpenButton").disabled = false;
        document.getElementById("ManageAccessButton").disabled = false;
        document.getElementById("sharedLink").disabled = false;
        document.getElementById("MakePublicButton").disabled = false;
        document.getElementById("folderImage").src= '@ViewBag.ImageSrc';
        document.getElementById("folderTitle").innerText = '@ViewBag.FolderTitle';
        document.getElementById("Idhidden").value = '@ViewBag.CurrentFolderId';
        document.getElementById("sharedLinkhidden").value = '@ViewBag.CurrentFolderShCode';

        document.getElementById("new-title").value = '@ViewBag.FolderTitle';


        var a = $('#loadingAnimation');
        a.css('visibility', 'hidden');
        $(document).ajaxStart(function () {
            $('#loadingAnimation').css('visibility', 'visible');
        });
        $(document).ajaxStop(function () {
            a.css('visibility', 'hidden');
        });

        function ShowProgress() {
            setTimeout(function () {
                var a = $('#loadingAnimation');
                a.css('visibility', 'visible');
            }, 200);
        }
        $('form').live("submit", function () {
            ShowProgress();
        });


        function openFolder(i) {
            var id = document.getElementById("Idhidden").value;
            if (id != "") i = id;
            location.href = "/Home/Images?id=" + i;
            return false;
        }

        function selectFolder(id, folder_id, count, name,full_name, sharedLinkValue, sharedCode, image) {
            document.getElementById("sharedLink").value = sharedLinkValue;

            document.getElementById("sharedLinkhidden").value = sharedCode;
            document.getElementById("Idhidden").value = id;
            document.getElementById("new-title").value = full_name;

            document.getElementById("folderImage").src = image;
            document.getElementById("folderTitle").innerText = name;


            if (folder_id == "FID0")
            {
                document.getElementById("RenameButton").disabled = true;
                document.getElementById("DeleteButton").disabled = true;
                document.getElementById("ContextRenameButton").disabled = true;
                document.getElementById("ContextDeleteButton").disabled = true;
                document.getElementById("ContextDeleteButton").className= "context-menu__link disabled-button";
                document.getElementById("ContextRenameButton").className= "context-menu__link disabled-button";
            }
            else {
                document.getElementById("RenameButton").disabled = false;
                document.getElementById("DeleteButton").disabled = false;
                document.getElementById("ContextRenameButton").disabled = false;
                document.getElementById("ContextDeleteButton").disabled = false;
                document.getElementById("ContextDeleteButton").className= "context-menu__link";
                document.getElementById("ContextRenameButton").className= "context-menu__link";
            }
            document.getElementById("OpenButton").disabled = false;
            document.getElementById("ManageAccessButton").disabled = false;
            document.getElementById("sharedLink").disabled = false;
            document.getElementById("MakePublicButton").disabled = false;


            var classes = "floating-box text-center task active images folder";
            for (var i = 0; i < count; i++) {
                var ID = "FID" + i;
                document.getElementById(ID).className = classes;
            }
            document.getElementById(folder_id).className += " active-image";
            document.getElementById('FID_field').innerText = folder_id.slice(-1);
            return false;
        }
    </script>
}


<div class="modal fade" id="AddFolder" tabindex="-1" role="dialog" style="top:200px">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn-not-rounded" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">@Resources.Resource.NEW_FOLDER</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="new-title" class="control-label">@Resources.Resource.NEW_FOLDER_TITLE</label>
                        <input type="text" class="form-control" id="new-title1" value="New folder">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-not-rounded" data-dismiss="modal">@Resources.Resource.CLOSE</button>
                <button type="button" class="btn btn-primary btn-not-rounded" onclick="$('#AddFolder').modal('hide');$('#loadingAnimation').css('visibility', 'visible');location.href='@Url.Action("AddFolder", "Home", new {path="test"})&title='+document.getElementById('new-title1').value">@Resources.Resource.ADD</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="RenameFolder" tabindex="-1" role="dialog" style="top:200px">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn-not-rounded" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">@Resources.Resource.RENAME</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="new-title" class="control-label">@Resources.Resource.RENAME_TITLE</label>
                        <input type="text" class="form-control" id="new-title">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-not-rounded" data-dismiss="modal">@Resources.Resource.CLOSE</button>
                <button type="button" class="btn btn-primary btn-not-rounded" onclick="$('#RenameFolder').modal('hide');$('#loadingAnimation').css('visibility', 'visible');location.href='@Url.Action("RenameFolder", "Home")?path='+document.getElementById('sharedLinkhidden').value+'&newName='+document.getElementById('new-title').value">
                    @Resources.Resource.SUBMIT
            </button>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="DeleteFolder" tabindex="-1" role="dialog" style="top:200px">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn-not-rounded" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">@Resources.Resource.DELETE_FOLDER</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="new-title" class="control-label text-center">@Resources.Resource.SAVE_CHANGES</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-not-rounded" data-dismiss="modal">@Resources.Resource.NO</button>
                <button type="button" class="btn btn-primary btn-not-rounded" onclick="$('#DeleteFolder').modal('hide');$('#loadingAnimation').css('visibility', 'visible');location.href='@Url.Action("DeleteFolder", "Home")?path='+document.getElementById('sharedLinkhidden').value+'&newName='+document.getElementById('new-title').value">
                    @Resources.Resource.YES
            </button>
        </div>
    </div>
</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="FolderManageAccess" style="top:100px">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn-not-rounded" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="gridSystemModalLabel">@Resources.Resource.MANAGE_ACCESS</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom:5px;">
                    <div class="col-sm-9">
                        <h5 style="vertical-align:middle;margin:0;margin-top:5px;">@Resources.Resource.ACCESS_BY_LINK</h5>
                    </div>
                    <div class="col-sm-3">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default unlocked_inactive btn-not-rounded" style="height: 30px; width: 60px; font-size: 13px; padding: 6px;"
                                    onclick="location.href='@Url.Action("MakeFolderPublicOrPrivate", "Home" )?folderId='+document.getElementById('Idhidden').value;">
                                Turn Off
                            </button>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group">
                           
                            <input type="text" id="sharedLink" style="height: 30px;" class="form-control" value="@ViewBag.FolderLink">
                            <span class="input-group-btn" style="height: 30px;">
                                <button class="btn btn-default btn-not-rounded" style="height: 30px;" type="button">@Resources.Resource.COPY</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-sm-12">
                                <h5 style="vertical-align:middle;margin:0;margin-top:5px;">@Resources.Resource.PEOPLE</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="list-group" style="height:auto;height:150px;overflow:auto;border:solid #E0E0E0 1px;">
                                  @if (ViewBag.FoldersEmails != null)
                                  {
                                      for (int i = 0; i < ViewBag.FoldersEmails.Count; i++)
                                      {
                                        <div class="list-group-item">
                                            <div class="media-body" style="vertical-align: middle">
                                                <h5 class="media-heading">@ViewBag.FoldersEmails[i]</h5>
                                            </div>
                                            <div class="media-right" style="vertical-align: middle;" onclick="location.href='@Url.Action("FoldersRemoveUser", "Home", new { userMail=ViewBag.FoldersEmails[i] })&folderId='+document.getElementById('Idhidden').value">
                                                <button type="button" class="btn badge right btn-not-rounded" aria-label="Left Align">
                                                    <span class="glyphicon glyphicon-remove glyphicon-th-large" aria-hidden="true"></span>
                                                </button>
                                            </div>
                                        </div>
                                      }
                                  }
                               
                              
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <input type="text" id="userMail" class="form-control" placeholder="@Resources.Resource.EMAIL" aria-describedby="sizing-addon2">
                                    <span class="input-group-addon btn btn-default" aria-label="Left Align" id="sizing-addon2" onclick="location.href='@Url.Action("FoldersAddMail", "Home")?userMail='+document.getElementById('userMail').value+'&folderId='+document.getElementById('Idhidden').value">+</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-sm-12">
                                <h5 style="vertical-align:middle;margin:0;margin-top:5px;">@Resources.Resource.GROUPS</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="list-group" style="height:auto;height:205px;overflow:auto;border:solid #E0E0E0 1px;">
                                    @if (ViewBag.Groups != null)
                                    {
                                        for (int i = 0; i < ViewBag.Groups.Count; i++)
                                        {
                                            <div class="list-group-item ">
                                                <div class="media-body" style="vertical-align: middle">
                                                    <h5 class="media-heading">@ViewBag.Groups[i] @ViewBag.GroupsIDs[i]</h5>
                                                </div>
                                                <div class="material-switch media-right" style="vertical-align: middle">
                                                    <button type="button" class="btn btn-info locked_active btn-not-rounded text-center" style="height: 30px; width: 60px; font-size: 13px; padding: 6px;"
                                                            onclick="location.href = '@Url.Action("FolderSwitchAccessONOrOff", "Home", new {groupId = ViewBag.GroupsIDs[i]})&folderId='+document.getElementById('Idhidden').value">
                                                        @*@ViewBag.Flags[i]*@ Allowed
                                                    </button>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left btn-not-rounded" style="width:100px;" data-dismiss="modal">@Resources.Resource.SUBMIT</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="main" style="margin-bottom: -20px; overflow: hidden; position: relative;  min-height: 675px">
    <div class="col-md-12">
        <div class="col-sm-10" style="padding-left:25px;padding-right:25px;">
            <h2>@Resources.Resource.FOLDERS</h2>
        </div>
        <div class="preloader" id="loadingAnimation" style="visibility:hidden">
            <div class="sk-cube-grid preloader-center center-block">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
            </div>
        </div>
        <div class="col-sm-2">

            <button id="openSideMenu" type="button" class="btn btn-default pull-right btn-not-rounded" aria-label="Left Align" style="margin-top:20px;" onclick="openNav()">
                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
            </button>
            <button id="AddFolderButton" data-placement="bottom" title="@Resources.Resource.ADD_NEW_FOLDER" type="button" class="btn-primary btn btn-default pull-right success btn-not-rounded" data-toggle="modal" data-target="#AddFolder" aria-label="Left Align" style="margin-top:20px;margin-right:-40px;background-color:cornflowerblue">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
        </div>
        <div class="row">
            <div class="col-sm-12" style="padding-left:40px;padding-right:40px;">
                @{
                    int count = ViewBag.Folders.Count;

                    for (int i = 0; i < ViewBag.Folders.Count; i++)
                    {
                        string classes = "floating-box text-center task active images folder";
                        string folder_id = "FID" + i;
                        string img_id = "FIM" + i;
                        string sharedLink = ViewBag.BaseURL + "Home/SharedFolder?f=" + ViewBag.Folders[i].SharedCode;
                        string sharedCode = ViewBag.Folders[i].SharedCode;
                        string imageLink = ViewBag.BaseURL + "Resources/" + (ViewBag.Folders[i].IsPublic ? "public.png" : "private.png");

                        string FolderTitle = ViewBag.Folders[i].Name;
                        int length = FolderTitle.Length;
                        int size = length <= 20 ? length : 20;
                        string name = FolderTitle.Substring(0, size);
                        FolderTitle = name;

                        if (i == 0)
                        {
                            FolderTitle = ViewBag.Folders[i].Name;
                            ViewBag.CurrentFolderId = ViewBag.Folders[i].Id;
                            ViewBag.FolderLink = ViewBag.BaseURL + "Home/SharedFolder?f=" + ViewBag.Folders[i].SharedCode;
                            <script>
                                document.getElementById("sharedLink").value = @ViewBag.FolderLink;

                                document.getElementById("sharedLinkhidden").value = '@sharedCode';
                                document.getElementById("Idhidden").value = '@ViewBag.Folders[i].Id';
                                document.getElementById("new-title").value = '@ViewBag.Folders[i].Name';

                                document.getElementById("folderImage").src = '@imageLink';
                                document.getElementById("folderTitle").innerText = '@ViewBag.Folders[i].Name';
                                document.getElementById("sharedLinkhidden").value = '@sharedCode';
                                document.getElementById("Idhidden").value = '@ViewBag.Folders[i].Id';
                                document.getElementById("new-title").value = '@ViewBag.Folders[i].Name';

                                document.getElementById("RenameButton").disabled = true;
                                document.getElementById("DeleteButton").disabled = true;
                                document.getElementById("OpenButton").disabled = true;
                                document.getElementById("MakePublicButton").disabled = true;
                                document.getElementById("ManageAccessButton").disabled = true;
                                document.getElementById("sharedLink").disabled = true;
                            </script>
                        }
                        <div onclick="selectFolder('@ViewBag.Folders[i].Id','@folder_id','@count','@FolderTitle','@ViewBag.Folders[i].Name','@sharedLink','@sharedCode','@imageLink')"
                           ondblclick="openFolder('@ViewBag.Folders[i].Id')" style="cursor:pointer;">
                            <figure class="@classes" id="@folder_id">
                                <img src="@imageLink" id="img_id"/>
                                <figcaption class="text-center">@FolderTitle</figcaption>
                            </figure>
                        </div>
                    }
                    <script>
                        for (var i = 0; i < count; i++) {
                            var ID = "FID" + i;
                            document.getElementById(ID).className = classes;
                        }
                        document.getElementById(document.getElementById('FID_field').innerText).className += " active-image";
                    </script>
                }
            </div>
        </div>
    </div>
    <div class="sidenav" id="mySidenav">
        <div style="margin-left: 10px; margin-right: 10px; height: 100%;">
            <div style="height:165px;">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="font-size:40px;">×</a>
                <p id="FID_field" style="width:0px;height:0px;padding:0px;border:0px;visibility:collapse">0</p>
                <img id="folderImage" src="@ViewBag.ImageSrc" width="128" height="128" alt="Folder is not selected"/>
                <p id="folderTitle" style="color: #E0E0E0;margin-left:10px;">@ViewBag.FolderTitle</p>
            </div>
            <hr />
            <div>
                <button type="button" class="btn btn-default btn-not-rounded" style="width: 100%" disabled id="OpenButton" onclick="openFolder('@ViewBag.CurrentFolderId')">@Resources.Resource.OPEN</button>
            </div>
            <br />
            <div>
                <button type="button" class="btn btn-default btn-not-rounded" data-toggle="modal" data-target="#RenameFolder" id="RenameButton" disabled style="width: 100%">@Resources.Resource.RENAME</button>
            </div>
            <br />
            <div>
                <button type="button" class="btn btn-danger btn-not-rounded" data-toggle="modal" data-target="#DeleteFolder" disabled id="DeleteButton" style="width: 100%">@Resources.Resource.DELETE</button>
            </div>
            <br />
            <div>
                <button class="btn btn-warning btn-not-rounded" disabled id="MakePublicButton" style="width: 100%"  onclick="location.href='@Url.Action("MakeFolderPublicOrPrivate", "Home" )?folderId='+document.getElementById('Idhidden').value;">@Resources.Resource.MAKE_PUBLIC</button>
            </div>
            <hr />
            <p style="color: #E0E0E0">@Resources.Resource.SHARE_FOLDER</p>
            <input id="sharedLink" class="form-control btn-not-rounded" style="width: 100%" type="text" placeholder="Sharing link" onclick="selectText()" value="@ViewBag.FolderLink" disabled />
            <br />
            <div>
                <button type="button" class="btn btn-success btn-not-rounded" data-toggle="modal" data-target="#FolderManageAccess" disabled id="ManageAccessButton" style="width: 100%">@Resources.Resource.MANAGE_ACCESS</button>
            </div>
            <hr />
            <p id="sharedLinkhidden" class="form-control" style="width:0px;height:0px;padding:0px;border:0px;visibility:collapse">@ViewBag.CurrentFolderShCode</p>
            <p id="Idhidden" class="form-control" style="width:0px;height:0px;padding:0px;border:0px;visibility:collapse">@ViewBag.CurrentFolderId</p>
        </div>
    </div>
</div>
<br />
<nav id="context-menu" class="context-menu">
    <ul class="context-menu__items">
        
        <li class="context-menu__item">
            <a href="" class="context-menu__link" data-target="#RenameFolder" data-toggle="modal" id="ContextRenameButton"> @Resources.Resource.RENAME</a>
        </li>
        <li class="context-menu__item">
            <a href="" class="context-menu__link" data-target="#DeleteFolder" data-toggle="modal" id="ContextDeleteButton"> @Resources.Resource.DELETE</a>
        </li>
        <li class="context-menu__item">
            <div class="row" style="padding: 4px 12px;">
                <div class="col-md-3">
                    <h5 style="padding-top: 7px; margin:0;">@Resources.Resource.PRIVATE</h5>
                </div>
                <div class="col-md-9">
                    <div class="btn-group pull-right" id="toggle_event_editing">
                        <button type="button" class="btn btn-default unlocked_inactive btn-not-rounded" style="height:30px;width:60px;font-size:12px;">@Resources.Resource.ON</button>
                        <button type="button" class="btn btn-info locked_active btn-not-rounded" style="height:30px;width:60px;font-size:12px;">@Resources.Resource.OFF</button>
                    </div>
                </div>
            </div>
        </li>
        <li class="context-menu__item">
            <a href="" class="context-menu__link" data-toggle="modal" data-target="#FolderManageAccess"> @Resources.Resource.MANAGE_ACCESS</a>
        </li>
    </ul>
</nav>

<script src="~/Scripts/context-menu.js"></script>
<script src="~/Scripts/Site.js"></script>