@{ 
    if (!Request.QueryString["lang"].IsEmpty())
    {
        Culture = UICulture = Request.QueryString["lang"];
    }
    else
    {
        Culture = UICulture = ViewBag.Localize ?? "en";
    }
}
<div class="col-sm-12" style="padding-left:40px;padding-right:40px;">
    @{
        <script>
            document.getElementById("RenameButton").disabled = true;
            document.getElementById("DeleteButton").disabled = true;
            document.getElementById("OpenButton").disabled = true;
            document.getElementById("MoveButton").disabled = true;
            document.getElementById("ManageAccessButton").disabled = true;
            document.getElementById("MakePublicButton").disabled = true;
            document.getElementById("sharedLink").disabled = true;
            document.getElementById("sharedLink").value = "";
            document.getElementById("new-title").value = "";
            document.getElementById("imageNameDelete").innerText = "";
            document.getElementById("compressedLink").src = "";
            document.getElementById("compressedName").innerText = "";
        </script>
        int index = 0;
        int count = ViewBag.Images.Count;
        foreach (var i in ViewBag.Images)
        {
            string original = i.SharedCode;
            string sharedLink1 = ViewBag.SharedImageBASE + original;
            string compressed = ViewBag.ImageLinkBASE + i.SharedCode + "_compressed.png";
            string name = i.Name;
            string classes = "floating-box text-center task active images";
            string image_id = "IMD" + index;
            string isPublic = i.IsPublic + "";
            string id = i.Id + "";
            string IId = ViewBag.ImageID + "";

            <div onclick="selectImage('@i.Id','@image_id','@count','@i.SharedCode','@original', '@sharedLink1', '@compressed','@name.Replace("'", "&#039")','@isPublic')"
                 ondblclick="openImage('@original')" style="cursor:pointer;">
                <div class="@classes" id="@image_id" style="padding-top: 10px; ">
                    <div style="width: 128px; height: 128px;background:url(@compressed) no-repeat center center;" class="center-block">
                    </div>
                    <label class="text-center text-overflowed text-overflowed_160">@name</label>
                </div>
            </div>
            index = index + 1;
            if (id == IId)
            {
                <script>
                    document.getElementById('@image_id').click();
                </script>
            }
        }
    }
</div>
@if (ViewBag.MessageContent != null)
{
    <input type="hidden" id="MessageContentFromPartialChangeState" value="@ViewBag.MessageContent" />
}
else
{
    <input type="hidden" id="MessageContentFromPartialChangeState" value="" />
}

