@{
    ViewBag.Title = ViewBag.FolderName;


    string ShareLink = "";
    string CommpressedLink = "";
    string Name = "";

    if (!ViewBag.IsEmpty)
    {
        ShareLink = ViewBag.SharedImageBASE + ViewBag.Images[0].SharedCode;
        CommpressedLink = ViewBag.ImagePathBASE + ViewBag.Images[0].SharedCode + "_compressed.png";
        Name = ViewBag.Images[0].Name;
    }
    if (!Request.QueryString["lang"].IsEmpty())
    {
        Culture = UICulture = Request.QueryString["lang"];
    }
    else
    {
        Culture = UICulture = ViewBag.Localize ?? "en";
    }

}
@section Scripts {
    <script>
        $('[data-toggle="popover"]').popover()
        function openImage(path,base) {
            location.href = base + path;
            return false;
        }
        function selectImage(image_id, count, sharedCode) {
            for (var i = 0; i < count; i++) {
                var ID = "IMD" + i;
                $("#" + ID).removeClass("active-image");
            }
            $("#" + image_id).addClass("active-image");
            document.getElementById('choosenID').value = sharedCode;
            return false;
        }
    </script>
}
<div id="main" style="min-height: 100%">
    <div class="col-md-12">
        <div class="col-sm-12 header-shared-library">
            <h2 class="text-overflowed text-overflowed_title">@ViewBag.FolderName</h2>
            <input id="choosenID" class="hidden-field"/>
        </div>  
        <div class="row" id="dynamicSharedFoldersArea">
            <div class="col-sm-12" id="shared-parent-container">
                @{
                    int index = 0;
                    int count = ViewBag.Images.Count;
                    foreach (var i in ViewBag.Images)
                    {
                        string original = i.SharedCode;
                        string sharedLink = ViewBag.SharedImageBASE + original;
                        string compressed = ViewBag.ImagePathBASE + i.SharedCode + "_compressed.png";
                        string isPublic = i.IsPublic + "";
                        string classes = "floating-box text-center task active images";
                        string name = i.Name;
                        string image_id = "IMD" + index;
                        string temp = ((ViewBag.Owners[index] != null && ViewBag.Owners[index].AvatarFile != null && System.IO.File.Exists(Server.MapPath("/avatars/") + ViewBag.Owners[index].AvatarFile + "_50.png")) ? (ViewBag.Owners[index].AvatarFile) : "user");

                        string AvatarPath = ViewBag.UserAvatarBASE + temp + "_50.png";
                        string OwnerEmail = ViewBag.Owners[index].Email;
                        string image = "<img class=\"pull - left\" src=\"" + AvatarPath + "\" class=\"img-circle\" style=\"width:50px;height:50px;margin:5px;margin-left:-10px;border-radius:30px;\"/>";
                        string popover_template =
                        "<div class='popover' role='tooltip' style=\"width:200px;height:80px;z-index:30000;margin-top:10px;\"><div class='arrow'></div><h3 class='popover-title' style=\"font-size:10px;height:20px;font-weight:bold;vertical-align:top;margin:0px;padding:0px;\"></h3><div><div class=\"container-fluid\"><div class=\"row\"><div class=\"col-xs-5\">" + image + "</div> <div class=\"col-xs-7\"><a class=\"pull-left popover-content\" style=\"vertical-align:middle;margin-left:-55px;margin-top:10px; max-width: 150px; overflow: hidden; text-overflow: ellipsis;white-space: nowrap;\"></a></div></div></div></div></div>";

                        if (index % 2 == 0)
                        {
                            classes += "image-preview sharedimage-preview-odd";
                        }
                        else
                        {
                            classes += "image-preview sharedimage-preview-even";
                        }
                        <button type="button" class="transparent-btn task" data-toggle="popover" data-placement="top" data-trigger="hover" title="@Resources.Resource.OWNER" data-template="@popover_template" data-content="@OwnerEmail"
                                ondblclick="openImage('@original','@ViewBag.SharedImageBASE')" style="cursor:pointer;"
                                onclick="selectImage('@image_id','@count','@original')">
                            <figure class="@classes" id="@image_id">
                                <div style="width: 128px; height: 128px;background:url(@compressed) no-repeat center center;margin-top:10px;" class="center-block">
                                </div>
                                <figcaption class="text-center text-overflowed text-overflowed_160">@name</figcaption>
                            </figure>
                        </button>
                        index = index + 1;
                    }
                }
            </div>
        </div>
    </div>
    <br />
</div>
<nav id="context-menu" class="context-menu">
    <ul class="context-menu__items">
        <li class="context-menu__item">
            <a href="" class="context-menu__link" id="ContextOpenButton" onclick="openImage(document.getElementById('choosenID').value, '@ViewBag.SharedImageBASE')"> @Resources.Resource.OPEN</a>
        </li>
    </ul>
</nav>
<script src="~/Scripts/context-menu.js"></script>
<script src="~/Scripts/Site.js"></script>