@{
    ViewBag.Title = ViewBag.OriginalName;
    if (!Request.QueryString["lang"].IsEmpty())
    {
        Culture = UICulture = Request.QueryString["lang"];
    }
    else
    {
        Culture = UICulture = ViewBag.Localize ?? "en";
    }


}
@section Scripts {
    <script>
        $('[data-toggle="popover"]').popover()
    </script>
}

@if (ViewBag.AccessGranted)
{
    string temp = ((ViewBag.Owner != null && ViewBag.Owner.AvatarFile != null && System.IO.File.Exists(Server.MapPath("/avatars/") + ViewBag.Owner.AvatarFile + "_50.png")) ? (ViewBag.Owner.AvatarFile) : "user");
    string AvatarPath = ViewBag.UserAvatarBASE + temp + "_50.png";
    string OwnerEmail = ViewBag.Owner.Email;
    string image = "<img class=\"pull - left\" src=\"" + AvatarPath + "\" class=\"img-circle\" style=\"width:50px;height:50px;margin:5px;margin-left:-10px;border-radius:30px;\"/>";
    string popover_template =
    "<div class='popover' role='tooltip' style=\"width:200px;height:80px;z-index:30000;margin-top:20%;\"><div class='arrow'></div><h3 class='popover-title' style=\"font-size:10px;height:20px;font-weight:bold;vertical-align:top;margin:0px;padding:0px;\"></h3><div><div class=\"container-fluid\"><div class=\"row\"><div class=\"col-xs-5\">" + image + "</div> <div class=\"col-xs-7\"><a class=\"pull-left popover-content\" style=\"vertical-align:middle;margin-left:-55px;margin-top:10px; max-width: 150px; overflow: hidden; text-overflow: ellipsis;white-space: nowrap;\"></a></div></div></div></div></div>";

        <div class="col-md-12" style="margin-top: 20px">
            <div class="row">
                <div class="col-sm-12" style="padding-left: 40px; padding-right: 40px;">
                    <div class="row text-center">
                        <img src="@ViewBag.OriginalPath" class="single-image"  data-toggle="popover" data-placement="top" title="@Resources.Resource.OWNER" data-template="@popover_template" data-content="@OwnerEmail" />
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="text-md-center">
                                    <h3 class="text-center">@ViewBag.OriginalName</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
}
else
{
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-12" style="padding-left: 40px; padding-right: 40px;">
                    <div class="text-md-center">
                        <h2 class="text-center">@Resources.Resource.ACCESS_DENIED</h2>
                        <p class="text-center">@Resources.Resource.ACC_DENIED_DESCR</p>
                    </div>
                </div>
            </div>
        </div>
}