@{
    ViewBag.Title = "Images";


    string ShareLink = "";
    string CommpressedLink = "";
    string Name = "";

    if (!ViewBag.IsEmpty)
    {
        ShareLink = ViewBag.BASE_URL + "Home/SharedImage?i=" + ViewBag.Images[0].SharedCode;
        CommpressedLink = ViewBag.BASE_URL + "img/" + ViewBag.Images[0].SharedCode + "_compressed.png";
        Name = ViewBag.Images[0].Name + ".png";
    }
    if (!Request.QueryString["lang"].IsEmpty())
    {
        Culture = UICulture = Request.QueryString["lang"];
    }
    else
    {
        Culture = UICulture = ViewBag.Localize ?? "en";
    }

}
@section Scripts {
    <script>
        $('[data-toggle="popover"]').popover()
        function openImage(path) {
            location.href = "/Home/SharedImage?i=" + path;
            return false;
        }
        function selectImage(id, image_id, count, sharedCode, original, sharedLink, compressed, name, without_ex, isPublic) {
            var classes = "floating-box text-center task active images";
            for (var i = 0; i < count; i++) {
                var ID = "IMD" + i;
                document.getElementById(ID).className = classes;
            }
            document.getElementById(image_id).className += " active-image";


            return false;
        }

    </script>
}

<div class="row" style="margin-bottom: -20px; overflow: hidden; position: relative; height: 100%">
    <div class="col-md-12">
        <div class="col-sm-12" style="padding-left:25px;padding-right:25px;">
            <div class="row">
                <div class="col-sm-10">
                    @{
                        int flength = ViewBag.FolderName.Length;
                        int fsize = flength <= 50 ? flength : 50;
                        string fname = ViewBag.FolderName.Substring(0, fsize);
                        ViewBag.FolderName = fname;
                    }
                    <h2>@ViewBag.FolderName</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="padding-left:40px;padding-right:40px;">
            @{ 
                int index = 0;
                int count = ViewBag.Images.Count;
                foreach (var i in ViewBag.Images)
                {
                    string original = i.SharedCode;
                    string sharedLink = ViewBag.BASE_URL + "Home/SharedImage?i=" + original;
                    string compressed = ViewBag.BASE_URL + "img/" + i.SharedCode + "_compressed.png";
                    string isPublic = i.IsPublic + "";
                    string classes = "floating-box text-center task active images";
                    string without_ex = i.Name;
                    string sharedLink1 = ViewBag.BASE_URL + "Home/SharedImage?i=" + original;
                    string name = i.Name + ".png";
                    int length = name.Length;
                    int size = length <= 15 ? length : 15;
                    string image_id = "IMD" + index;
                    name = name.Substring(0, size);
                    string temp = ((ViewBag.Owners[index] != null && ViewBag.Owners[index].AvatarFile != null) ? (ViewBag.Owners[index].AvatarFile) : "user");
                    string AvatarPath = ViewBag.BASE_URL + "avatars/" +temp+"_50.png";
                    string OwnerEmail = ViewBag.Owners[index].Email;
                    string image = "<img class=\"pull - left\" src=\"" + AvatarPath + "\" class=\"img-circle\" style=\"width:50px;height:50px;margin:5px;margin-left:-10px;border-radius:30px;\"/>";
                    string popover_template =
                    "<div class='popover' role='tooltip' style=\"width:500px;\"><div class='arrow'></div><h3 class='popover-title'></h3><div><div class=\"container-fluid\"><div class=\"row\"><div class=\"col-xs-5\">" + image + "</div> <div class=\"col-xs-7\"><a class=\"pull-left popover-content\" style=\"word-wrap: break-word;vertical-align:middle;margin-left:-55px;margin-top:10px;\"></a></div></div></div></div></div>";

                    <button type="button" class="transparent-btn" data-toggle="popover" data-trigger="hover" title="@Resources.Resource.OWNER" data-template="@popover_template" data-content="@OwnerEmail"
                            ondblclick="openImage('@original')" style="cursor:pointer;"
                            onclick="selectImage('@i.Id','@image_id','@count','@i.SharedCode','@original', '@sharedLink', '@compressed', '@name','@without_ex','@isPublic')">
                            <figure class="@classes" id="@image_id">
                                <div style="width: 128px; height: 128px;background:url(@compressed) no-repeat center center;margin-top:10px;" class="center-block">
                                </div>
                                <figcaption class="text-center text-overflowed">@name</figcaption>
                          </figure>
                    </button>
                    index = index + 1;
                }
                }
            </div>
        </div>
    </div>
</div>
