@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Welcome to ScreenTaker";
    if (!Request.QueryString["lang"].IsEmpty())
    {
        Culture = UICulture = Request.QueryString["lang"];
    }
    else
    {
        Culture = UICulture = ViewBag.Localize ?? "en";
    }
}



<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="jumbotron container" style="padding:30px;padding-left:9%;padding-right:9%;">
        <h1 class="text-color">ScreenTaker</h1>
        <p class="lead-site">@Resources.Resource.JUMBOTRON_TEXT</p>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                @using (Html.BeginForm("Welcome", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                { 
                    <input id="fileInput" style="visibility:collapse" type="file" filter="image/*" name="file" onchange="document.getElementById('fileSubmit').click();" />
                    <input id="fileSubmit" style="visibility:collapse" type="submit" value="bla" />
                    if (User.Identity.GetUserName() == "")
                    { 
                        <input type="button" style="width:270px; height:60px;" class="btn btn-primary btn-lg center-block btn-not-rounded" id="welcom-upload" value="@Resources.Resource.UPLOAD_IMAGE" onclick="location.href='@Url.Action("Register", "Account")'"/>
                    }
                    else
                    {
                        <input type="button" style="width:270px; height:60px;" class="btn btn-primary btn-lg center-block btn-not-rounded" id="welcom-upload" value="@Resources.Resource.UPLOAD_IMAGE" onclick="document.getElementById('fileInput').click();" />
                    }
                }
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <h2>@Resources.Resource.ABOUT_ST</h2>
                <p>@Resources.Resource.ABOUTST_TEXT</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <h2>@Resources.Resource.CAPTURING_FS</h2>
                <p>@Resources.Resource.CAPTURING_TEXT</p>
                <img src="~/Resources/printscreen.png" class="welcome-image center-block" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <h2>@Resources.Resource.FEATURES</h2>
                <p>@Resources.Resource.FEATURES_TEXT</p>
            </div>
        </div>
    </div>
</div>
      

