@model ScreenTaker.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    if (!Request.QueryString["lang"].IsEmpty())
    {
        Culture = UICulture = Request.QueryString["lang"];
    }
    else
    {
        Culture = UICulture = ViewBag.Localize ?? "en";
    }
}

<div class="container account-form">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 account-style shadow center-block">
            <section id="forgotPasswordForm">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "col-md-12 text-center form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>@Resources.Resource.ENTER_EMAIL</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-left text-danger" })
                    <div class="form-group">
                        <div class="col-sm-12 login-signup-center">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg btn-not-rounded", placeholder="Email", id="email-input"})
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 login-signup-center">
                            <input type="submit" class="btn btn-block btn-lg btn-default btn-not-rounded account-button" id="submit-button" value="@Resources.Resource.SEND" />
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>
</div>

<script src="~/Scripts/Site.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var emailError = 1;
        $(document).keyup(function (event) {
            if (event.keyCode == 13) {
                $("#submit-button").click();
            }
        });
        $(function () {

                $('#email-input').keyup(function () {
                    var changedText = $(this).val();
                    var respond = emailValidation(changedText);
                    setClasses('#email-input', respond);
                });
                $('#email-input').change(function () {
                    $('#email-input').keyup();
                });
                $('#email-input').blur(function () {
                    $('#email-input').keyup();
                });
                $('#email-input').mouseover(function () {
                    $('#email-input').keyup();
                });
                $('#submit-button').mouseover(function () {
                    $('#email-input').keyup();
                });
        });
        $("#submit-button").click(function (e) {
            if (emailError === 1) {
                e.preventDefault();
            }
        });
        function setClasses(id,respond)
        {
            if (respond == false) {
                emailError = 1;
                $(id).removeClass('field-success');
                $(id).addClass('field-error');
            }
            else {
                emailError = 0;
                $(id).removeClass('field-error');
                $(id).addClass('field-success');
            }
        }
    </script>
}