@using ScreenTaker.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";

    if (!Request.QueryString["lang"].IsEmpty())
    {
        Culture = UICulture = Request.QueryString["lang"];
    }
    else
    {
        Culture = UICulture = ViewBag.Localize ?? "en";
    }
    if (ViewBag.ErrorTitle == null)
    {
        ViewBag.ErrorTitle = Resources.Resource.USE_ACCOUNT;
    }
}


<div class="container account-form">
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4 account-style shadow center-block" >
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "col-md-12 text-center form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>@ViewBag.ErrorTitle</h4>
                        <hr />
                            <div class="form-group">
                                <div class="col-md-12 login-signup-center">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg btn-not-rounded", @placeholder = Resources.Resource.EMAIL, id = "email-input" })
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-md-12 login-signup-center">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg btn-not-rounded", @placeholder = Resources.Resource.PASSWORD, id="password-input" })
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-md-12 login-signup-center">
                                    <input id="submit-button" type="submit" value="@Resources.Resource.LOGIN_EMAIL" class="btn btn-block btn-lg btn-default account-button" />
                                </div>
                            </div>
                            <div class="text-center">
                                <h4>
                                    @Html.ActionLink(Resources.Resource.AS_NEW_USER, "Register", "Account", new {@class = "account-link"})
                                </h4>
                                <h4 style="margin-top:15px;">
                                    @Html.ActionLink(Resources.Resource.FORGOT_PASS, "ForgotPassword", "Account", new { @class = "account-link" })
                                </h4>
                            </div>
                    }
                </section>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
</div>

<script src="~/Scripts/Site.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var emailError = 1;
        var passError = 1;
        $(document).keyup(function (event) {
            if (event.keyCode == 13) {
                $("#submit-button").click();
            }
        });
        $(function () {
            
           
                $('#email-input').keyup(function () {
                    var changedText = $(this).val();
                    var respond = emailValidation(changedText);
                    setClasses('#email-input', respond,'email');
                });
                $('#password-input').keyup(function () {
                    var changedText = $(this).val();
                    var respond = passwordValidation(changedText);
                    setClasses('#password-input', respond,'pass');
                });
                $('#email-input').focus(function () {
                    $('#email-input').keyup();
                    $('#password-input').keyup();
                });
                $('#password-input').focus(function () {
                    $('#password-input').keyup();
                });
                $('#email-input').change(function () {
                    $('#email-input').keyup();
                });
                $('#email-input').blur(function () {
                    $('#email-input').keyup();
                });
                $('#email-input,#submit-button,#password-input').mouseover(function () {
                    $('#email-input').keyup();
                });
                $('#password-input').change(function () {
                    $('#password-input').keyup();
                });
        });
        $("#submit-button").click(function (e) {
            if (passError === 1 || emailError === 1) {
                e.preventDefault();
            }
        });
        function setClasses(id,respond,type)
        {
            if (respond == false) {
                if (type == 'email') emailError = 1;
                else passError = 1;
                $(id).removeClass('field-success');
                $(id).addClass('field-error');
            }
            else {
                if (type == 'pass') emailError = 0;
                else passError = 0;
                $(id).removeClass('field-error');
                $(id).addClass('field-success');
            }
        }
    </script>
    }