@model ScreenTaker.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    if (!Request.QueryString["lang"].IsEmpty())
    {
        Culture = UICulture = Request.QueryString["lang"];
    }
    else
    {
        Culture = UICulture = ViewBag.Localize ?? "en";
    }
}
<div class="container account-form">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 account-style shadow center-block">
            <section id="forgotPasswordForm">
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "col-md-12 text-center form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Reset your password</h4>
                    <hr />
                    @Html.HiddenFor(model => model.Code)
                    <div class="form-group">
                        <div class="col-md-12 login-signup-center ">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg btn-not-rounded", placeholder = Resources.Resource.EMAIL, id = "email-input" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 login-signup-center">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg btn-not-rounded", placeholder = Resources.Resource.NEW_PASS, id = "password-input" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 login-signup-center">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-lg btn-not-rounded", placeholder = Resources.Resource.CONFIRM_PASS, id = "confirm-password-input" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 login-signup-center">
                            <input type="submit" class="btn btn-block btn-lg btn-default btn-not-rounded account-button" value="Reset" id="submit-button" />
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var emailError = 1;
        var passError = 1;
        var confirmPassError = 1;
        $(document).keyup(function (event) {
            if (event.keyCode == 13) {
                $("#submit-button").click();
            }
        });
        $(function () {

                $('#email-input').keyup(function () {
                    var changedText = $(this).val();
                    var respond = emailValidation(changedText);
                    setClasses('#email-input', respond,'email');
                });
                $('#password-input').keyup(function () {
                    var changedText = $(this).val();
                    var respond = passwordValidation(changedText);
                    setClasses('#password-input', respond, 'pass');
                    $('#confirm-password-input').keyup();
                });
                $('#confirm-password-input').keyup(function () {
                    var changedText = $(this).val();
                    var respond1 = passwordValidation(changedText);
                    var respond2 = ConfirmPasswordValidation(changedText, $('#password-input').val());
                    var respond = respond1 && respond2;
                    setClasses('#confirm-password-input', respond, 'confirm-pass');
                });
                $('#email-input').focus(function () {
                    $('#email-input').keyup();
                    $('#password-input').keyup();
                    $('#confirm-password-input').keyup();
                });
                $('#password-input').focus(function () {
                    $('#password-input').keyup();
                });
                $('#confirm-password-input').focus(function () {
                    $('#confirm-password-input').keyup();
                });
                $('#email-input').change(function () {
                    $('#email-input').keyup();
                });
                $('#password-input').change(function () {
                    $('#password-input').keyup();
                    $('#confirm-password-input').keyup();
                });
                $('#confirm-password-input').change(function () {
                    $('#confirm-password-input').keyup();
                });
                $('#email-input,#submit-button,#password-input,#confirm-password-input').mouseover(function () {
                    $('#email-input').keyup();
                });
        });
        $("#submit-button").click(function (e) {
            if (passError === 1 || emailError === 1 || confirmPassError === 1) {
                e.preventDefault();
            }
        });
        function setClasses(id,respond,type)
        {
            if (respond == false) {
                if (type == 'email') emailError = 1;
                else if (type == 'pass') passError = 1;
                else confirmPassError = 1;
                $(id).removeClass('field-success');
                $(id).addClass('field-error');
            }
            else {
                if (type == 'email') emailError = 0;
                else if (type == 'pass') passError = 0;
                else confirmPassError = 0;
                $(id).removeClass('field-error');
                $(id).addClass('field-success');
            }
        }
    </script>
}
