@model ScreenTaker.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Profile";
    if (!Request.QueryString["lang"].IsEmpty())
    {
        Culture = UICulture = Request.QueryString["lang"];
    }
    else
    {
        Culture = UICulture = ViewBag.Localize ?? "en";
    }
}
<div class="container" id="userProfile">
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-12">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 account-style shadow center-block">
                <div class="text-center">
                    <h4>@Resources.Resource.PROFILE_HEAD</h4>
                    <hr />
                </div>
                <div class="col-sm-6" style="margin-top: -15px;">
                    <div class="text-center" id="dynamicArea">
                        <div style="width: 128px; height: 128px; background: url(@ViewBag.Avatar_128) no-repeat center center;" class="center-block"></div>
                    </div>
                    <div class="text-center">
                            <h4>Email: @ViewBag.Email</h4>
                    </div>
                    <div class="text-center" style="margin-top: -50px">
                        @using (Html.BeginForm("SetAvatar", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "col-sm-12 form-horizontal text-center" }))
                        {
                            <input id="fileInput" style="visibility: collapse" type="file" name="file" onchange="document.getElementById('fileSubmit').click();" />
                            <input id="fileSubmit" style="visibility: collapse" type="submit" />
                            <div class="form-group">
                                <div class="col-md-12 login-signup-center">
                                    <a class="account-link" onclick="document.getElementById('fileInput').click();"> @Resources.Resource.CHANGE_PROFILE_IMG</a>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="form-group" style="margin-top: 130px">
                            <button class="btn btn-default btn-block account-button" style="width: 100%;" onclick="location = '/Edit/UserGroups'">@Resources.Resource.MANAGE_GROUPS</button>
                    </div>
                </div>
                <div class="col-sm-6" style="margin-top: -15px; bottom: -5px">
                    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "text-left form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                          @* цей блок треба вставити туди де будуть виводитись повідомлення про помилки
                            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-left text-primary" })
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-left text-primary" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-left text-primary" })*@
                        
                        <div class="form-group">
                            <div class="col-md-12 login-signup-center">
                                <label>@Resources.Resource.YOUR_OLD_PASS</label>
                           @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control btn-not-rounded", @placeholder = Resources.Resource.PASSWORD })
                                   
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 login-signup-center">
                                <label>@Resources.Resource.ENTER_NEW_PASS</label>
                              @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control btn-not-rounded", @placeholder = Resources.Resource.PASSWORD })
                               
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 login-signup-centers">
                                <label>@Resources.Resource.CONFIRM_PASS</label>
                           @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control btn-not-rounded", @placeholder = Resources.Resource.PASSWORD })
                             
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 login-signup-center">
                                <input type="submit" class="btn btn-default btn-block account-button" value="@Resources.Resource.CHANGE_PASS"/>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
