@{
    if (!Request.QueryString["lang"].IsEmpty())
    {
        Culture = UICulture = Request.QueryString["lang"];
    }
    else
    {
        Culture = UICulture = ViewBag.Localize??"en";
    }
    ViewBag.MessageTitle = "Info";
    //ViewBag.MessageContent = Resources.Resource.CAPTURING_TEXT;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body style="background-color: #E0E0E0; overflow-x: hidden">
    <header style="z-index:1510">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("ScreenTaker", "Welcome", "Home", new { lang = ViewBag.Locale }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    @if (Request.IsAuthenticated)
                    {
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink(Resources.Resource.FOLDERS,  "Library",  "Home", new
                               {
                               }, null)
                            </li>
                            <li>@Html.ActionLink(Resources.Resource.SHARED_FOLDERS,  "SharedLibrary",  "Home", new
                               {
                               }, null)
                            </li>
                        </ul>
                    }

                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </header>
<section class="main-content">    
    <div class="modal fade" id="Message" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="margin-top:10%;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="MessageTitle">@ViewBag.MessageTitle</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-2">
                                <img src="~/Resources/error.png" style="width:80%;height:80%"/>
                            </div>
                            <div class="col-sm-10" >                                
                                <p style="word-wrap: break-word;" id="MessageContent">
                                    @if (@ViewBag.MessageContent != null)
                                    {
                                        @ViewBag.MessageContent
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
        @RenderBody()
</section>
<footer style="z-index:1510;">
    <div class="footer-style">
        <div class="col-sm-5"></div>
        <div class="col-sm-3 footer-text">
            <span style="color: #929292">@Resources.Resource.DEVELOPED_BY</span>
            <span style="color: #3D8AF7">DREAM TEAM</span>
        </div>
        <div class="col-sm-4"></div>
    </div>
</footer>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
    @if (ViewBag.MessageContent != null)
    {
        <script>
            $('#Message').modal('show');
        </script>
    }      
</body>
</html>