@using Microsoft.AspNet.Identity
@using System.Globalization
@using System.Threading;
@section Scripts
{
    <script>
         function setLocal(loc) {
             document.getElementById('localization').innerHTML = loc + '<span class="caret"></span>';
         }
    </script>
}

@{
//if (!Request.QueryString["lang"].IsEmpty())
//{
//    Culture = UICulture = Request.QueryString["lang"];
//}
//else
//{
//    Culture = UICulture = "en";
//}
//if (!ViewBag.Localize.Equals(Culture))
//{
//    Culture = UICulture = ViewBag.Localize;
//}
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ENG<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("ChangeLocalization","Edit",new { request=Request.Url.PathAndQuery, lang ="uk"})">UKR</a></li>
                    <li><a href="@Url.Action("ChangeLocalization","Edit",new { request=Request.Url.PathAndQuery, lang ="ru"})">RUS</a></li>
                    <li><a href="@Url.Action("ChangeLocalization","Edit",new { request=Request.Url.PathAndQuery, lang ="en"})">ENG</a></li>
                </ul>
            </li>
            
            <li>
                @Html.ActionLink(User.Identity.GetUserName(), "UserProfile", "Account", routeValues: null, htmlAttributes: new { title = "Manage groups" })
            </li>
            <li style="width:40px;">
                <a href="/Account/UserProfile" style="margin-left:-20px;">
                    <img src="~/Resources/user.png" class="img-circle" style="height:25px;width:25px;">
                </a>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">@Resources.Resource.LOGOUT</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="localization">ENG<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("ChangeLocalization","Edit",new { request=Request.Url.PathAndQuery, lang ="uk"})">UKR</a></li>
                <li><a href="@Url.Action("ChangeLocalization","Edit",new { request=Request.Url.PathAndQuery, lang ="ru"})">RUS</a></li>
                <li><a href="@Url.Action("ChangeLocalization","Edit",new { request=Request.Url.PathAndQuery, lang ="en"})">ENG</a></li>
            </ul>
        </li>
        <li>@Html.ActionLink(@Resources.Resource.LOGIN_EMAIL, "Login", "Account")</li>
        <li>@Html.ActionLink(@Resources.Resource.SIGNIN_LOGOUT, "Register", "Account")</li>
    </ul>
}